* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body {
  height: 100%; /* Make sure the body takes the full height */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.login-card {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #e8f5e9, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px; /* Reduced width */
  height: auto;
  
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.1);
  text-align: center;
  
  flex-direction: column;
  gap: 1rem;
}

.login-box h1 {
  font-size: 1.5rem;
  color: #1a1a1a;
  font-weight: bold;
  margin-top: 0; /* No margin at the top of h1 */
}

@media (max-width: 768px) {
  .login-container {
    width: 80%; /* Adjust width for smaller screens */
  }
}


.login-container:hover{
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(80, 175, 80, 0.5);
}
/*.login-box h1 {
  font-size: 1.5rem;
  color: #1a1a1a;
  font-weight: bold;
  margin-bottom: 0.5rem;
 
}*/

.login-box form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Reduce gap between form elements */
}

.login-box input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.9rem;
}

.login-box button {
  padding: 0.5rem;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
}


.login-box input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}



.login-box button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 12px rgba(76, 175, 80, 0.3);
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.forgotpassword {
  text-align: right;
  margin: 0;
}

.forgotpassword a {
  font-size: 0.8rem;
  color: #4caf50;
  text-decoration: none;
}

.forgotpassword a:hover {
  text-decoration: underline;
}

.signup-text {
  margin-top: 0.75rem;
  color: #7d7d7d;
  font-size: 0.85rem;
}

.signup-text a {
  color: #4caf50;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

.login-toast-wrapper .Toastify__toast-container {
  position: fixed;
  top: -80%;
  left: 40%;
  transform: translateX(-50%);
  z-index: 9999;
}

.login-toast-wrapper .Toastify__toast {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .login-container {
    width: 90%;
    height: auto;
    padding: 1rem;
  }

  .login-box h1 {
    font-size: 1.2rem;
  }

  .login-box button {
    font-size: 0.8rem;
  }
}
