body,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  height: 100%;
}

.reset-card{
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #e8f5e9, #e8f5e9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  padding: 0;
}
.reset-container {
  display: fixed;
  justify-content: center;
  align-items: center;
  width: 600px; 
  height: auto;
  padding: 80px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 9%;
  margin-top: 10px;
  flex-direction: column;
  gap: 1rem;
}

.reset-container:hover{
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(80, 175, 80, 0.5);
}

.heading {
  position: absolute;
  top: 40px; 
  left: 40px; 
  font-size: 30px;
  font-weight: bold;
  color: #2b2b2b;
  margin: 0;
}

.reset-password {
  font-size: 30px;
  color: #2b2b2b;
  font-weight: bold;
  margin-bottom: 10px;
}

.enter {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 20px;
}

.otp-input {
  width: 250px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-bottom: 15px; 
  background-color: #f5f5f5;
}

.otp-input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.password-input {
  width: 250px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-bottom: 15px; 
  background-color: #f5f5f5;
}

.password-input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.confirm-password-input {
  width: 250px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-bottom: 15px;
  background-color: #f5f5f5;
}

.confirm-password-input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.reset-button {
  padding: 12px 24px;
  height: 45px;
  width: 250px;
  font-size: 16px;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reset-button:hover {
  background-color: #45a049;
}


button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.reset-toast-wrapper .Toastify__toast-container {
  position: fixed;
  top: -80%;
  left: 20%;
  z-index: 9999;
}

.reset-toast-wrapper .Toastify__toast {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .reset-container {
    margin-top: 50%;
    width: 80%; /* Adjust width for smaller screens */
  }
}